{% extends "./base.html" %}

{% block body %}      
    <div class="container">
        <div class="mb-3">
            <h1>Solicitudes De Contacto</h1>
            <hr>
            <div class="row">
                <table class="table">
                    <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Correo</th>
                        <th scope="col">Telefono</th>
                        <th scope="col">direccion</th>
                        <th scope="col">Mensaje</th>
                    </tr>
                    {% for con in Contactos %}
                    <tr>
                        <td>{{con.nombre}}</td>
                        <td>{{con.correo}}</td>
                        <td>{{con.telefono}}</td>
                        <td>{{con.direccion}}</td>
                        <td>{{con.mensaje}}</td>
                        <td><a class="btn btn-success" href="{% url 'form_mod_contacto' con.telefono %}">Modificar</a></td>
                        <td><a class="btn btn-danger" href="{% url 'form_del_contacto' con.telefono %}">Eliminar</a></td>
                    </tr>
                    {% endfor %}                
                </table>
                
                <br><br>
            </div>
            <div class="row mb-3">
                <a class="btn btn-primary" href="{% url 'form_contacto_ext'%}" role="link">Nuevo Contacto</a>
            </div>
            
        </div>
    </div>
{% endblock %}