{% extends "./base.html" %}

{% block title %} Adopcion de Gatitos {% endblock %}

{% block body %}
{% load static %}
<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-4">
                <img alt="Bootstrap Image Preview" src="{% static '/img/adopcion/gatoesfinge.jpg' %}" class="img-pet"/>
                <ul>
                    <li class="list-item">
                        Nombre : Javier
                    </li>
                    <li class="list-item">
                        Edad:1 año
                    </li>
                    <li class="list-item">
                        Personalidad:Tranquilo y jugueton
                    </li>
                    <li class="list-item">
                        Raza:Gato esfinge
                    </li>
                    <li class="list-item">
                        Vacunas:Al dia.
                    </li>
                    <li class="list-item">
                        Necesidades:Ninguna.
                    </li>
                    <li class="list-item">
                        Preferencias:Ninguna.
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <img alt="Bootstrap Image Preview" src="{% static '/img/adopcion/hakake.jpg' %}" class="img-pet" />
                <ul>
                    <li class="list-item">
                        Nombre : Marcelo
                    </li>
                    <li class="list-item">
                        Edad:2 años
                    </li>
                    <li class="list-item">
                        Personalidad:Tranquilo y jugueton
                    </li>
                    <li class="list-item">
                        Raza:Gato Kiltro
                    </li>
                    <li class="list-item">
                        Vacunas:Al dia.
                    </li>
                    <li class="list-item">
                        Necesidades:Ninguna.
                    </li>
                    <li class="list-item">
                        Preferencias:Ninguna.
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <img alt="Bootstrap Image Preview" src="{% static '/img/adopcion/gatopersa.jpg' %}" class="img-pet"/>
                <ul>
                    <li class="list-item">
                        Nombre : Humberto
                    </li>
                    <li class="list-item">
                        Edad:3 años
                    </li>
                    <li class="list-item">
                        Personalidad:Tranquilo y jugueton
                    </li>
                    <li class="list-item">
                        Raza:Gato Persa
                    </li>
                    <li class="list-item">
                        Vacunas:Al dia.
                    </li>
                    <li class="list-item">
                        Necesidades:Ninguna.
                    </li>
                    <li class="list-item">
                        Preferencias:Ninguna.
                    </li>
                <ul>
            </div>
        </div>
    </div>
</div>



{% endblock%}