{% extends "./base.html" %}

{% block title %} Adopcion de Perritos {% endblock %}

{% block body %}
{% load static %}
<div class="row">
    <div class="col-md-4">
        <img class="img-pet" alt="Bootstrap Image Preview" src="{% static '/img/adopcion/perrofeo.png' %}" />
        <ul>
            <li class="list-item">
                Nombre :Jorge
            </li>
            <li class="list-item">
                Edad:5 años
            </li>
            <li class="list-item">
                Personalidad: Tranquilo y fiel
            </li>
            <li class="list-item">
                Raza:Super kiltro
            </li>
            <li class="list-item">
                Vacunas: Al dia
            </li>
            <li class="list-item">
                Necesidades: Ninguna necesidad especial.
            </li>
            <li class="list-item">
                Preferencias: Parejas adultas o persona adulta.
            </li>
        </ul>
    </div>
    <div class="col-md-4">
        <img class="img-pet" alt="Bootstrap Image Preview" src="{% static '/img/adopcion/lengua.png' %}" />
        <ul>
            <li class="list-item">
                Nombre : Jon
            </li>
            <li class="list-item">
                Edad: 4 años
            </li>
            <li class="list-item">
                Personalidad: Jugueton y muy proactivo
            </li>
            <li class="list-item">
                Raza: Super Kiltro
            </li>
            <li class="list-item">
                Vacunas:Al dia
            </li>
            <li class="list-item">
                Necesidades:Ninguna.
            </li>
            <li class="list-item">
                Preferencias:Ninguna.
            </li>
        </ul>
    </div>
    <div class="col-md-4">
        <img class="img-pet" alt="Bootstrap Image Preview" src="{% static '/img/adopcion/neptuno.jpg' %}" />
        <ul>
            <li class="list-item">
                Nombre :Mika
            </li>
            <li class="list-item">
                Edad:2 años
            </li>
            <li class="list-item">
                Personalidad:Juguetona
            </li>
            <li class="list-item">
                Raza:Super Kiltro
            </li>
            <li class="list-item">
                Vacunas:Al dia.
            </li>
            <li class="list-item">
                Necesidades:Ninguna.
            </li>
            <li class="list-item">
                Preferencias:Ninguna.
            </li>
        </ul>
    </div>
</div>






{% endblock %}